# Private notes

# Boards dir
boards/hacktues6.pdf
boards/crypto-currency-emerald.pdf
boards/23\ -\ \[...\]\ Week\ TODO\ List.pdf
# Boards dir END

# Elsys dir
elsys/
# Elsys dir END

# ix
# ix dir END

# oop
# oop dir END

# rust
# rust dir END

# talks&lectures
talks\&lectures/ht6/
# talks&lectures dir END


# Any junk files/dirs

# Clion
.idea/
cmake-build-debug/
CMakeFiles.txt

# gcc/g++
a.out

.o

# Rust
target/
Cargo.lock

# python
__pycache__/
